<div class="post-comments">
    <h3 class="section-title is-size-4">{{t "Comments"}}</h3>
    <div id="disqus_thread"></div>
</div>

{{#contentFor "scripts"}}
    <script>
        if (typeof disqus_shortname !== 'undefined') {
            var disqus_config = function () {
                this.page.url ='{{url absolute="true"}}';
                this.page.identifier = 'ghost-{{comment_id}}';
            };

            (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        }
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{/contentFor}}